<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            padding: 20px;
            width: 80%;
            gap: 5px;
            margin: auto;
            border-radius: 10px;
            box-shadow: 1px 1px 3px blue;
        }

        input, select {
            padding-left: 10px;
            height: 40px;
            border-radius: 10px;
            border: none;
            padding-right: 10px;
        }

        .one {
            width: 100%;
        }

        form label {
            font-weight: bold;
            font-size: 18px;
        }

        form input, select {
            font-size: 18px;
        }

        .submitButton {
            padding: 10px 20px;
            border-radius: 10px;
            border: none;
            background-color: green;
            color: white;
            font-weight: bold;
        }
    </style>
    <script src="validations/userValidations.js"></script>
</head>

<body>
    <div
        style="margin: auto; width: 80%; display: flex; flex-direction: row; align-items: center; justify-content: start; padding: 40px 0;">
        <h1 style="letter-spacing: 5px;">USER PROFILE</h1>
    </div>
    <form action="/updateUser" method="post" id="submitForm">
        <input type="text" name="id" hidden value="<%=user.id%>">
        <div class="one">
            <label for="name">First Name : </label>
            <input type="text" onkeyup="firstNameValidation(this.value)" name="firstName" id="firstName" value="<%=user.firstName%>">
            <label for="firstNameStatus" id="firstNameStatus"></label>
        </div>
                <div class="one">
            <label for="name">Last Name : </label>
            <input type="text" name="lastName" onkeyup="lastNameValidation(this.value)" id="lastName" value="<%=user.lastName%>">
            <label for="lastNameStatus" id="lastNameStatus"></label>
        </div>
        <div class="one">
            <label for="name">Birth Date : </label>
            <% const date=new Date(user.birth); const year=date.getFullYear(); const month=String(date.getMonth() +
                1).padStart(2, '0' ); const day=String(date.getDate()).padStart(2, '0' ); const
                formattedDate=`${year}-${month}-${day}`; const today=new Date(); const maxYear=today.getFullYear();
                const maxMonth=String(today.getMonth() + 1).padStart(2, '0' ); const
                maxDay=String(today.getDate()).padStart(2, '0' ); const maxDate=`${maxYear}-${maxMonth}-${maxDay}`; %>
                <input type="date" name="birth" id="birth" value="<%=formattedDate%>" max="<%=maxDate%>">
        </div>
        <div class="one">
            <label for="name">Address : </label>
            <input type="text" name="address" id="address" value="<%=user.address%>">
        </div>
        <div class="one">
            <label for="name">Education : </label>
            <select name="education" id="education">
                <option value="<%=user.education%>"><%=user.education%></option>
                <option value="BE/B.Tech">BE/B.Tech</option>
                <option value="ME/M.Tech">ME/M.Tech</option>
                <option value="Diploma">Diploma</option>
                <option value="BCA">BCA</option>
                <option value="MCA">MCA</option>
            </select>
        </div>
        <div class="one">
            <label for="name">Hobbies : </label>
            <input type="text" name="hobbies" onkeyup="hobbiesValidation(this.value)" id="hobbies" value="<%=user.hobbies%>">
            <label for="hobbiesStatus" id="hobbiesStatus"></label>
        </div>
        <div class="one">
            <label for="name">Email : </label>
            <input type="text" name="email" onkeyup="emailValiadation(this.value)" id="email" value="<%=user.email%>">
            <label for="emailStatus" id="emailStatus"></label>
        </div>
        <div class="one">
            <label for="name">Phone number : </label>
            <input type="text" onkeyup="phoneValidation(this.value)" name="phone" id="phone" value="<%=user.phone%>">
            <label for="phoneStatus" id="phoneStatus"><label>
        </div>
        <div style="width: 80%;display: flex; flex-direction: row; align-items: center; justify-content: start; gap: 20px;">
            <button style="height: 40px; width: 120px;color: white; background-color: green; border-radius: 10px;"><a href="/" style="text-decoration: none; color: white;">Back</a></button>
            <button style="background-color: green; color: white; width: 120px; height: 40px; border-radius: 10px;" type="button" onclick="submitButton()">Update</button>
        </div>
    </form>
</body>

</html>